$shadow-color: rgb(236, 240, 241);
$generalFont: MedievalSharp, Arial, Helvetica, sans-serif;
$titles-color: rgb(21, 158, 193);
$subtitles-color: rgb(120, 143, 148);
$secsubtitles-color: rgb(31, 156, 38);

*{
    font-family: $generalFont;
}

@media only screen and (min-width:1200px){
    .nav-item > .nav-link{
        padding:5px 20px !important;
        display: block !important;
    }
}

@media only screen and (max-width:992px){
    .header-inner{
        background-color: white !important;
    }
    .nav-item > .nav-link{
        color:black !important
    }
}

.container {
    h1{
        margin-top: -60px;
    }
}

#personalImg{
    box-shadow: 0 0 15px $shadow-color;
    border-radius: 50%;
    margin-top: 60px;
    margin-right: 2000px;
}

body {
	text-align: center;
}

main{
    text-align: justify;
}

h1{
    color: $titles-color;
    text-transform: uppercase;
}

h2{
    color: $titles-color;
}
h3{
    color: $subtitles-color;
}
h4{
    color: $secsubtitles-color;
}

.header{
    position:relative;
    width: 100%;
}
.header-inner{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
}
nav{
    font-family: $generalFont;
    text-align: left;
    li{
        padding: 0 20px 0 20px;
    }
    a{
        text-decoration: none;
    }
}

.area{
  border: 3px outset transparent;
  background-color: $shadow-color;    
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  a{
      font-style: none;
  }
  img{
      float:left;
      margin-top: -30px;
      border-radius: 20px;
      margin-right: 40px;
      margin-left: 40px;
  }
}

table, td, th {
   border: 4px solid lightblue;
   border-radius: 20px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
thead th, tbody td {
    text-shadow: 1px 1px 1px lightblue;
    border: 3px solid lightblue;
}
p{
    text-align: justify;
    padding-left: 20px;
}
ul{
    list-style: none;
}