$general-color: rgb(121, 226, 252);
$shadow-color: rgb(236, 240, 241);
$titlesFont: MedievalSharp, Arial, Helvetica, sans-serif;
$generalFont: "EB Garamond", Arial, Helvetica, sans-serif;
$titles-color: rgb(21, 158, 193);
$subtitles-color: rgb(120, 143, 148);
$secsubtitles-color: rgb(31, 156, 38);
$section-width: 47%;
$certain-links: rgb(196, 48, 43);

// X-Small devices (portrait phones, less than 576px)
@media screen and (min-width: 575.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: 100%;
    display: inline-block;
  }
  #Interests {
    width: 100%;
    display: inline-block;
  }
}

// Small devices (landscape phones, less than 768px)
@media screen and (min-width: 767.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: 100%;
    display: inline-block;
  }
  #Interests {
    width: 100%;
    display: inline-block;
  }
}

// Medium devices (tablets, less than 992px)
@media screen and (min-width: 991.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: 100%;
    display: inline-block;
  }
  #Interests {
    width: 100%;
    display: inline-block;
  }
}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 1199.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: 100%;
    display: inline-block;
  }
  #Interests {
    width: 100%;
    display: inline-block;
  }
}

// X-Large devices (large desktops, less than 1400px)
@media screen and (min-width: 1399.98px) {
  .areaProjects {
    width: $section-width;
    float: left;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: $section-width;
    float: left;
  }
  #Interests {
    width: 50%;
    float: right;
  }
}

@media screen and (min-width: 1529px) {
  .areaProjects {
    width: $section-width;
    float: left;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: $section-width;
    float: left;
  }
  #Interests {
    width: 50%;
    float: right;
  }
  #video {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .areaProjects {
    width: $section-width;
    float: left;
  }
  .WelcomeArea {
    width: 100%;
  }
  .area {
    width: $section-width;
    float: left;
  }
  #Interests {
    width: 50%;
    float: right;
  }
  #video {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
}
@media only screen and (max-width: 992px) {
  .header-inner {
    background-color: white !important;
  }
  .nav-item > .nav-link {
    color: black !important;
  }
}

.banner {
  background-color: $general-color;
  h1 {
    display: inline-block;
  }
  img {
    text-align: center;
    display: inline-block;
    margin-left: 100px;
  }
}
main {
  text-align: justify;
}
h1 {
  color: $titles-color;
  text-transform: uppercase;
  font-family: $titlesFont;
}
h2 {
  color: $titles-color;
}
h3 {
  color: $subtitles-color;
}
h4 {
  color: $secsubtitles-color;
}

h2,
h3,
h4 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: $generalFont;
}

.book-img{
    width: 200px;
    height: 250px;
}

.header {
  position: relative;
  width: 100%;
}
.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

#personalImg {
  box-shadow: 0 0 15px $shadow-color;
  border-radius: 50%;
  margin-top: 40px;
  max-width: 100%;
  height: auto;
}
nav {
  font-family: "EB Garamond";
  text-align: left;
  li {
    padding: 0 20px 0 20px;
  }
  a {
    text-decoration: none;
  }
}
.areaProjects {
  border: 3px outset transparent;
  background-color: $shadow-color;
  text-align: left;
  margin: 20px;
  margin-left: 0;
  border-radius: 20px;
  img {
    width: 5%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20%;
    float: left;
  }
  border-style: dashed;
  border-color: $general-color;
}

.WelcomeArea {
  border: 3px outset transparent;
  background-color: $shadow-color;
  border-radius: 20px;
  margin: 20px;
  margin-left: 0;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
.area {
  border: 3px outset transparent;
  background-color: $shadow-color;
  text-align: center;
  margin: 20px;
  margin-left: 0;
  border-radius: 20px;
  border-style: dashed;
  border-color: $general-color;
}

#Academic {
  text-align: justify;
  .sfco {
    width: 40px;
    float: left;
    margin-right: 40px;
    max-width: 100%;
    height: auto;
  }
  .uniandes {
    float: left;
    width: 100px;
    margin-right: 40px;
    max-width: 100%;
    height: auto;
  }
}

table,
td,
th {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
thead th,
tbody td {
  text-shadow: 1px 1px 1px $general-color;
  border: 3px solid $general-color;
}
p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  background-color: $general-color;
  clear: both;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.container-fluid {
  border-radius: 20px;
}
.list-links {
  display: inline;
  a {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: $certain-links;
  }
}
#link-lista {
  border-style: solid;
  border-color: $certain-links;
  border-radius: 10px;
  text-align: justify;
  background-color: white;
  width: 620px;
}
.ytlogo {
  width: 25px;
}
