@media screen and (min-width: 575.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 100%;
    display: inline-block;
  }

  #Interests {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 767.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 100%;
    display: inline-block;
  }

  #Interests {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 991.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 100%;
    display: inline-block;
  }

  #Interests {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 1199.98px) {
  .areaProjects {
    width: 100%;
    display: inline-block;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 100%;
    display: inline-block;
  }

  #Interests {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 1399.98px) {
  .areaProjects {
    width: 47%;
    float: left;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 47%;
    float: left;
  }

  #Interests {
    width: 50%;
    float: right;
  }
}
@media screen and (min-width: 1529px) {
  .areaProjects {
    width: 47%;
    float: left;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 47%;
    float: left;
  }

  #Interests {
    width: 50%;
    float: right;
  }

  #video {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .areaProjects {
    width: 47%;
    float: left;
  }

  .WelcomeArea {
    width: 100%;
  }

  .area {
    width: 47%;
    float: left;
  }

  #Interests {
    width: 50%;
    float: right;
  }

  #video {
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
}
@media only screen and (max-width: 992px) {
  .header-inner {
    background-color: white !important;
  }

  .nav-item > .nav-link {
    color: black !important;
  }
}
.banner {
  background-color: #79e2fc;
}
.banner h1 {
  display: inline-block;
}
.banner img {
  text-align: center;
  display: inline-block;
  margin-left: 100px;
}

main {
  text-align: justify;
}

h1 {
  color: #159ec1;
  text-transform: uppercase;
  font-family: MedievalSharp, Arial, Helvetica, sans-serif;
}

h2 {
  color: #159ec1;
}

h3 {
  color: #788f94;
}

h4 {
  color: #1f9c26;
}

h2,
h3,
h4 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "EB Garamond", Arial, Helvetica, sans-serif;
}

.book-img {
  width: 200px;
  height: 250px;
  border: 1px solid #159ec1;
  border-radius: 4px;
  padding: 5px;
}

.game-img {
  width: 200px;
  height: 250px;
  border: 1px solid #159ec1;
  border-radius: 4px;
  padding: 5px;
}

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

#personalImg {
  box-shadow: 0 0 15px #ecf0f1;
  border-radius: 50%;
  margin-top: 40px;
  max-width: 100%;
  height: auto;
}

nav {
  font-family: "EB Garamond";
  text-align: left;
}
nav li {
  padding: 0 20px 0 20px;
}
nav a {
  text-decoration: none;
}

.areaProjects {
  border: 3px outset transparent;
  background-color: #ecf0f1;
  text-align: left;
  margin: 20px;
  margin-left: 0;
  border-radius: 20px;
  border-style: dashed;
  border-color: #79e2fc;
}
.areaProjects img {
  width: 5%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20%;
  float: left;
}

.WelcomeArea {
  border: 3px outset transparent;
  background-color: #ecf0f1;
  border-radius: 20px;
  margin: 20px;
  margin-left: 0;
}
.WelcomeArea h2 {
  text-align: center;
}
.WelcomeArea p {
  text-align: center;
}

.area {
  border: 3px outset transparent;
  background-color: #ecf0f1;
  text-align: center;
  margin: 20px;
  margin-left: 0;
  border-radius: 20px;
  border-style: dashed;
  border-color: #79e2fc;
}

#Academic {
  text-align: justify;
}
#Academic .sfco {
  width: 40px;
  float: left;
  margin-right: 40px;
  max-width: 100%;
  height: auto;
}
#Academic .uniandes {
  float: left;
  width: 100px;
  margin-right: 40px;
  max-width: 100%;
  height: auto;
}

table,
td,
th {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

thead th,
tbody td {
  text-shadow: 1px 1px 1px #79e2fc;
  border: 3px solid #79e2fc;
}

p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  background-color: #79e2fc;
  clear: both;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.container-fluid {
  border-radius: 20px;
}

.list-links {
  display: inline;
}
.list-links a {
  color: black;
  text-decoration: none;
}
.list-links a:visited {
  color: black;
}
.list-links a:hover {
  color: #c4302b;
}

#link-lista {
  border-style: solid;
  border-color: #c4302b;
  border-radius: 10px;
  text-align: justify;
  background-color: white;
  width: 620px;
  margin-bottom: 10px;
}

.ytlogo {
  width: 25px;
}
